block link
    - var path = "C:/VisualStudioCode_Projects/lab_web/dist/css/CSS_text_style.css"
    link(rel="stylesheet", href=path)

block content
.container
    include menu.pug
    .central
        .row_1
            .picture
            .text
                .text2 
                .text3
        .row_2
            .text
                .text4 
                .text5
            .picture