mixin createList
    ul
          li.CSS
            a(href='./CSS.html') CSS
          li Синтаксис CSS
          li Вставка CSS
          li.CSS_text
            a(href='C:/VisualStudioCode_Projects/lab_web/dist/CSS_text.html') CSS текст
          li.CSS_font
            a(href='C:/VisualStudioCode_Projects/lab_web/dist/CCS_font.html') CSS шрифт
          li Блоки

.menu
    +createList 